<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Java EE Application</display-name>


    <!--The welcome-file-list defines default page-->
    <welcome-file-list>
        <welcome-file>/welcome</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>XmlServlet</servlet-name>
        <servlet-class>cz.sohlich.servlet.XmlServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XmlServlet</servlet-name>
        <url-pattern>/xml</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>XmlFilter</filter-name>
        <filter-class>cz.sohlich.filter.XmlFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XmlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--The order of filters is as defined in web.xml.
    The filters itself are defined via annotation.
    -->

    <filter-mapping>
        <filter-name>FirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SecondFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
